@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

.content {
  /* max-width: 900px; */
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fbf8f0;

}
*{
  font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
list-style: none;

}
body{
  background-color: #fbf8f0;

}


form {
  display: flex;
  flex-direction: column;
  
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-periodo{
  text-align: center;
}

label {
  font-size: 16px;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 50px;
  font-weight: 600;
  font-size: 25px;
  
}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
}

button:hover {
  background-color: #333;
}

.resultados {
  margin-top: 10px;
  
}



.titulo{
  width: 100%;
  margin-top: 2rem;
}

.resultado_neto{

  width: 100%;
  color: rgb(0, 0, 0);
  border-radius: 9px;
  text-align: center;
  color: transparent;
  text-align: center;
  letter-spacing: -0.015em;
  background-image: linear-gradient(180deg, #010d2d, #004188);
  background-clip: text;
  -webkit-background-clip: text;
  

}

.resultado_neto_value{
  font-size: 4.8rem;
  text-align: center;
  color: transparent;
  text-align: center;
  letter-spacing: -0.015em;
  background-image: linear-gradient(180deg, #010d2d, #004188);
  background-clip: text;
  -webkit-background-clip: text;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 1px 26px 1px rgba(201, 199, 199, 0.27);
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1rem;

  
}

.input-group{
    background-color: #fff;

}

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 9px;
  padding: 1rem;
  color: #4e4b68;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  
}

li {
  flex: 0 0 calc(25% - 20px);
  padding: 5px;
  margin: 5px;
}


.resultado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow con ligera sombra */
  padding: 1rem;
  font-size: 22px;
  color: #010d2d;

}

label{
  color: #afafaf;
  font-weight: 500;
}

.periodo{
  background-color: #010d2d;
  padding: 0.6rem;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow con ligera sombra */

}


.label-periodo{
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.label-periodo:hover{
  cursor: pointer;
}

input{
  outline: none;

}


.radio{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}



/* Hide the default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
 }
 
 .container_checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
 }

 .label_checkbox{
  font-size: 16px;

 }
 
 /* Create a custom checkbox */
 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: black;
  border-radius: 50px;
  transition: all 0.7s;
  --spread: 20px;
 }
 
 /* When the checkbox is checked, add a blue background */
 .container_checkbox input:checked ~ .checkmark {
  background: black;
  box-shadow: -10px -10px var(--spread) 0px #10c998, 0 -10px var(--spread) 0px #22a887, 10px -10px var(--spread) 0px #33b576, 10px 0 var(--spread) 0px #55c065, 10px 10px var(--spread) 0px #77d154, 0 10px var(--spread) 0px #99e143, -10px 10px var(--spread) 0px #baf932;
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
 }
 
 /* Show the checkmark when checked */
 .container_checkbox input:checked ~ .checkmark:after {
  display: block;
 }
 
 /* Style the checkmark/indicator */
 .container_checkbox .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #f0f0f0;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
 }


 /* Estilos para el NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010d2d;
  padding: 10px 20px;
  color: white;
}

.cta-btn {
  background-color: white;
  color: #010d2d;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.cta-btn:hover {
  background-color: #010d2d;
  color: white;
}


 
 
/* media queries for tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .resultado_neto_value{
    font-size: 4.5rem;
  } 

  
  ul{
    display: flex;

  }

  li{
    flex: 0 0 calc(35% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }
  

}


/* media queries for mobile */

@media screen and (min-width: 320px) and (max-width: 767px) {


  .resultado_neto_value{
    font-size: 3.5rem;
  }

  

  .periodo {
    flex-direction: row;
    gap: 0.8rem;
  }

  ul{
    font-size: 14px;
    display: flex;

  }

  li{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  



  
}


