@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fbf8f0;

}
*{
  font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
list-style: none;

}
body{
  background-color: #fbf8f0;

}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 10px;
}

label {
  font-size: 16px;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 0px solid #ccc;
  border-radius: 4px;
  font-weight: 600;
  font-size: 25px;
  
}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #10c998;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 25%;
  margin: 0 auto;
}

.resultados {
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.titulo{
  width: 100%;
  margin-top: 2rem;
}

.resultado_neto{

  width: 100%;
  color: rgb(0, 0, 0);
  border-radius: 9px;
  text-align: center;
  color: transparent;
  text-align: center;
  letter-spacing: -0.015em;
  background-image: linear-gradient(180deg, #b8f5b1, #14d39f);
  background-clip: text;
  -webkit-background-clip: text;
  

}

.resultado_neto_value{
  font-size: 6.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: transparent;
  text-align: center;
  letter-spacing: -0.015em;
  background-image: linear-gradient(180deg, #b8f5b1, #14d39f);
  background-clip: text;
  -webkit-background-clip: text;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 1px 1px 26px 1px rgba(201, 199, 199, 0.27);
  padding: 1rem;
  
}

.input-group{
    background-color: #fff;

}

ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 9px;
  padding: 1rem;
  color: #4e4b68;
  font-weight: 700;
  font-size: 17px;
}

.resultado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow con ligera sombra */
  padding: 1rem;
  font-size: 22px;
  color: #14d39f;

}

label{
  color: #afafaf;
  font-weight: 500;
}

.periodo{
  background-color: #10c998;
  padding: 1rem;
  border-radius: 50px;
  color: white;
}
input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

}

.label-periodo{
  color: white;
  margin-right: 2rem;
}

